<div class="userinfo">
<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
 <% if @user.errors.any? %>
 <div class="notice">
　 <h2><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
    <ul>
     </div>
     <% @user.errors.full_messages.each do |msg| %>
     <div class="notice2">
      <li><%= msg %></li>
      </div>
    <% end %>
    </ul>
  <% end %>
<!--名前-->
  <label for="inputName">Name</label>
  <div class="profile_name">
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  </div>
  <!--写真-->

  <label for="inputImage">Image</label>
  <div class="image">
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  </div>
  <!--情報-->
  
  <label for="inputintroduction">Introduction</label>
  <div class="intro">
  <%= f.text_area :introduction, rows:'5',placeholder: "コメントをここに" %>
  </div>
  <div class="coment">
  <%= f.submit "Update User" %>
  </div>
<% end %>
</div>