<div class="container">
   <div class="row">
    <%= render 'books/list', book: @book_new, user: @user %>
     <div class="col-md-8 offset-md-1" >
     <h2>Book detail</h2>
     <table class="bookshow">
      <thead>
      </thead>
      <tbody>
       <tr>
        <td>
         <%=link_to  user_path(@user.id) do%>
         <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" ,size: :'40x40'%>
         <%end%>
         <p><%= link_to  @user.name , user_path(@user.id) %></p>
        </td>
        <td>
         <%=@book.title%>
        </td>
        <td>
         <%=@book.body%>
        </td>
         <% if user_signed_in? && @book.user.id == current_user.id %>
        <td>
         <%= link_to "Edit", edit_book_path(@book.id) , class: "btn btn-success  px-3" %>
        </td>
        <td>
         <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "btn btn-danger " %>
        </td>
        <%end%>
      </tbody>
     </table>
   </div>
</div>



